.header {
    text-align: center;
    color: white;
    padding: 50px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 15px;
    color: white;
}

#sightsheader {
    background-image: url(sights-img.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
    background-size: cover;
    margin-left: 0px;
}

#cultureheader {
    background-image: url(culture-img.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    background-size: cover;
}

#foodheader {
    background-image: url(restaurant.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    background-size: cover;
}

#transportheader {
    background-image: url(transport-img.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
    background-size: cover;
}

dt {
    font-size: larger;
    border-left: double;
    padding-left: 5px
}

.culture {
    color: black;
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
  }

/* setting the columns up*/
.column {
    float: left;
}

/* set widths for columns */
.left {
    width: 65%;
}

.right {
    width: 35%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

